 #imagem {
   text-align: center;
}
#link {
    text-align: center:
 p  {
color:red;
font-align:right
}
h1 {
color:blue;
text-align:center;
font-size:50
h2 {
color:green;
text-align:left;
font-size:40;
